<%- v = view_object(:hint_view_object, local_assigns) %>
<main>  
  <center class="hero">
    <h1>Some hints from database.</h1>
  </center>
  <center>
    <%= link_to "â† Back to welcome page", root_path %>
  </center>

<article style="margin-top: 3rem">
  
    <% v.hints.each_with_index do |hint, index| %>
      <span 
        data-description="<%=v.description_of(hint)%>" 
        data-slug="<%=v.slug_of(hint)%>" 
        class="<%=v.class_of(hint)%>">
          <%=v.name_of(hint)%>
      </span>
      <span>&nbsp;&nbsp;&nbsp;</span>
    <% end %>

    <div style="margin-top: 2rem" id="text">
      <%= v.displayed_text %>
    </div>

</article>

</main>
